#header-nav {
	background-color: #383738;
	margin-bottom: 0;
}
#header-nav .navbar-brand {
		color: #fff;
}
#collapsable-nav .navbar-collapse {
	margin-top: 0;
}
#collapsable-nav ul {
	background-color: #B1AEB2;
	margin-top: 0;
	border: 2px solid black;
	margin-bottom: 0;
}

#collapsable-nav h3 {
	font-size: 1em;
	margin: 5px auto;
	color: #000;
}
#collapsable-nav hr {
	margin: 0 auto;
	border-top: 1px solid #000;
	width: 95%
}
.main-heading h1 {
	font-size: 1.5em;
	margin-top: 15px;
	font-weight: bold;
	margin-bottom: 25px;
}
.main-content .article {
	background-color: #CAC7CC;
	padding: 5px 20px; 
}
.article-heading {
	font-size: 1.25em;
	margin-top: 5px;
	font-weight: bold;
}
@media (max-width: 768px) {
	.article {
		margin: 0 25px;
	}
}